#other_sheet-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;
    margin-top: 260px;
    width: 100%;
}

#other_sheet_label {
    justify-self: center;
    font-weight: bold;
    font-size: 25px;
}